name: automatiser le build et la publication des microservices
on:
  workflow_dispatch:
  pull_request:
    branches: [ main ]  
    
env:
 DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
 DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
 REPO_API: ds-api-gateway
 REPO_CLIENT: ds-client-service
 REPO_ACCOUNT: ds-account-service

jobs:
 build:
   runs-on: ubuntu-latest
   steps: 
      - name: Checkout
        uses: actions/checkout@v4

      - name: Installer Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Login DockerHub dans CI
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}  
          
      - name: Build and push api-gateway image
        working-directory: ds-api-gateway
        run: |
          mvn clean package -DskipTests
          docker build -t majidkouki/api-gateway:latest .
          docker push majidkouki/api-gateway:latest
      - name: Build and push client-service image
        working-directory: ds-account-service
        run: |
          mvn clean package -DskipTests
          docker build -t majidkouki/client-service:latest .
          docker push majidkouki/client-service:latest
      - name: Build and push account-service image
        working-directory: ds-client-service
        run: |
          mvn clean package -DskipTests
          docker build -t majidkouki/account-service:latest .
          docker push majidkouki/account-service:latest
 deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Simulate deployment
        run: echo "Simulating deployment of all services"